.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px darkgray;
  background-color: white;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__left {
  display: flex;
  align-items: center;

  img {
    object-fit: contain;
    width: 40px;
    margin-right: 10px;
  }

  .header__search {
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    height: 22px;
    padding: 10px;
    color: gray;

    input {
      outline: none;
      border: none;
      border-radius: 5px;
      background: none;
    }
  }
}

.header__right {
  display: flex;
  align-items: center;
}
